<h2>Search Warehouse</h2>
<form action="/warehouses" method="GET"> 
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<% warehouses.forEach(warehouse => { %>
    <div><%= warehouse.name %></div>
    <div>
        <a href="/warehouses/<%= warehouse.id %>">View</a>
        <a href="/warehouses/<%= warehouse.id %>/Edit">Edit</a>
        <%- include("../layouts/partials/deleteForm.ejs", { 
            url: `/warehouses/${warehouse.id}`
         }) %> 
    </div>
<% }) %> 